.btn-curtida {
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.resposta {
  background: linear-gradient(135deg, #2b5cff, #3d7bff);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.enviar {
  background: linear-gradient(135deg, #2b5cff, #3d7bff);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.enviar:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(50, 100, 255, 0.3);
}

.resposta:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(50, 100, 255, 0.3);
}